<launch>
    <node name="talker" pkg="beginner_tutorials" type="talker" args="/home/dji/catkin_ws_uco/data/markermap_grass.yml /home/dji/catkin_ws_uco/data/pg.yml /home/dji/catkin_ws_uco/data/orb.fbow  /home/dji/catkin_ws_uco/data/Map/30_1.map  /home/dji/catkin_ws_uco/data/Data30_2   /home/dji/catkin_ws_uco/data/Map/30_2.map  "  output = "screen"/>  
</launch>
